.feature {
    margin: 40px;

    .title {
            justify-content: space-between;
    
            h1 {
                flex: 1;
            }
    
            p {
                flex: 2;
            }
        }

    .cards {}
}