.feature {
    margin: 40px;

    .title {
            justify-content: space-between;
            align-items: center;
            margin: 0 100px;
            text-align: justify;
    
            h1 {
                flex: 1;
            }
    
            p {
                flex: 2;
                color: #555;
            }
        }

    .cards {
        width: 100%;
        justify-content: center;
        gap: 30px;
        margin-top: 40px;
    }
}