.categories {
    width: 100%;
    height: 80vh;
    margin-bottom: 100px;

    .cat_wrapper {
        margin: 30px;

        .title {
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            text-justify: center;
            margin: 0;
            padding: 0;
            line-height: 100px;
            color: var(--color1);
            font-size: 80px;
            overflow: hidden;
            opacity: .2;
        }
        .sm {
            font-size: 50px;
        }
        
        button {
            cursor: pointer;
            border: none;
            
            &:hover {
                background: transparent;
                color: var(--color4);
                opacity: 1;
            }
        }
    }

    .row {
        flex: 1;
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: hidden;
        gap: 10px;

        position: relative;

    }
    .col {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        }
    .col-lg {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}