.cart {
  position: absolute;
  z-index: 9;
  right: 20px;
  top: 60px;
  background-color: white;
  padding: 10px 20px;
  width: 20%;
  box-shadow: -5px 7px 4px 2px var(--color1);

  h1 {
    font-size: 20px;
    color: var(--color1);
  }

  .cart_item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .left {
      gap: 10px;

      img {
        height: 100px;
        width: 100px;
        object-fit: cover;
      }

      .details {
        margin: 0;
        justify-content: space-between;

        .title {
          padding: 0;
          margin: 0;
          font-size: 16px;
          color: var(--color2);
        }

        .price {
          margin: 0;
          font-size: 14px;
        }
      }
    }

    .deleteIcon {
      margin-left: 100px;
      cursor: pointer;
      color: rgba(255, 0, 0, 0.664);
    }
  }

  .subtotal {
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
  }

  .checkoutBtn {
    background-color: var(--color2);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: var(--color1);
    }
  }

  .reset {
    font-size: 14px;
    color: rgba(255, 0, 0, 0.664);
    cursor: pointer;

    &:hover {
      color: rgba(255, 0, 0, 0.918);
    }
  }
}
